@page
@model WebPageAssignment.Pages.BlogPostModel
@{
    ViewData["Title"] = "Blog Post";
}

<body>
    <section>
        <header>
            <style>
                h1 {
                    text-align: center;
                    color:deeppink;
                }
                body {
                    background-color: #cbf5f1
                }
                p {
                    color:brown
                }
                p{
                    font-size:1.3rem
                }
                table {
                    color: mediumblue;
                }
              
            </style>
            <h1>This is an example of blog post</h1>
            <br>
            <br>
            <table style="width:50%">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Published Date</th>
                        <th>Contact Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Zhihong Cai</td>
                        <td>2020-11-05</td>
                        <td>kurtchoi2016@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </header>
    </section>
    <hr>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam officia sapiente accusantium
        eum fuga quis aliquam, modi, repudiandae excepturi dicta odio earum blanditiis inventore sint
        aspernatur odit officiis tempora distinctio.Lorem, ipsum dolor sit amet consectetur adipisici
        ng elit. Quam officia sapiente accusantium blanditiis inventore sintlanditiis inventoresintnt
        eum fuga quis aliquam, modi, repudiandae excepturi dicta odio earum blanditiis inventore sint
        aspernatur odit officiis tempora distinctio.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam officia sapiente accusantium
        eum fuga quis aliquam, modi, repudiandae excepturi dicta odio earum blanditiis inventore sint
        aspernatur odit officiis tempora distinctio.Lorem, ipsum dolor sit amet consectetur adipisici
        ng elit. Quam officia sapiente accusantium blanditiis inventore sintlanditiis inventoresintnt
        eum fuga quis aliquam, modi, repudiandae excepturi dicta odio earum blanditiis inventore sint
        aspernatur odit officiis tempora distinctio.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam officia sapiente accusantium
        eum fuga quis aliquam, modi, repudiandae excepturi dicta odio earum blanditiis inventore sint
        aspernatur odit officiis tempora distinctio.Lorem, ipsum dolor sit amet consectetur adipisici
        ng elit. Quam officia sapiente accusantium blanditiis inventore sintlanditiis inventoresintnt
        eum fuga quis aliquam, modi, repudiandae excepturi dicta odio earum blanditiis inventore sint
        aspernatur odit officiis tempora distinctio.
    </p>
    <br>
    <hr>
    <section>
        <footer>
            <table style="width:110%">
                <thead>
                    <tr>
                        <th>Facebook</th>
                        <th>Twitter</th>
                        <th>Youtube</th>
                        <th>Instagram</th>
                        <th>Reddit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>&commat;Zhihong Cai</td>
                        <td>&commat;Zhihong Cai</td>
                        <td>&commat;Zhihong Cai</td>
                        <td>&commat;Zhihong Cai</td>
                        <td>&commat;Zhihong Cai</td>
                    </tr>
                </tbody>
            </table>
        </footer>
    </section>
</body>